<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.loganalysis.mapper.SafetyEquipmentMapper">

    <!--查询安全设备的日志解析规则-->
    <select id="getEquipAnalysisRuleList" parameterType="com.gem.loganalysis.model.dto.query.AnalysisRuleQueryDTO"
            resultType="com.gem.loganalysis.model.vo.EquipAnalysisRuleVO">
        SELECT A.EQUIP_ID,
               A.EQUIP_NAME,
               B.SEVERITY,
               B.FACILITY,
               C.RULE_TYPE,
               METHOD_NAME,
               ITEM_SPLIT,
               KV_SPLIT
        FROM safety_equipment A
                 LEFT JOIN log_analysis_rule_rela B ON A.EQUIP_ID = B.EQUIP_ID
                 LEFT JOIN log_analysis_rule C ON B.ANALYSIS_RULE_ID = C.ANALYSIS_RULE_ID
        WHERE A.EQUIP_ID = #{equipId,jdbcType=INTEGER}
          AND B.SEVERITY = #{severity,jdbcType=VARCHAR}
          AND B.FACILITY = #{facility,jdbcType=VARCHAR}
          AND C.RULE_TYPE = #{ruleType,jdbcType=VARCHAR}
    </select>

    <!--查询安全设备相关的历史封堵记录-->
    <select id="getEquipBlockRecords" parameterType="java.lang.Integer"
            resultType="com.gem.loganalysis.model.vo.EquipBlockRecordVO">
        SELECT A.EQUIP_ID,
               A.SEVERITY,
               A.FACILITY,
               A.BLOCK_OFF_TIME,
               B.BLOCK_OFF_IP,
               B.BLOCK_START_TIME,
               B.BLOCK_END_TIME,
               B.BLOCK_STATE
        FROM BLOCK_OFF_RULE A
                 LEFT JOIN BLOCK_OFF_RECORD B ON A.BLOCK_OFF_RULE_ID = B.BLOCK_OFF_RULE_ID
        WHERE B.EQUIP_ID = #{equipId, jdbcType=INTEGER}
    </select>

    <!--查询安全设备归并后的日志记录-->
    <select id="getEquipLog" parameterType="java.lang.Integer" resultType="com.gem.loganalysis.model.entity.Log">
        SELECT C.*
        FROM log_analysis_rule_rela A
                 LEFT JOIN LOG_INDEX B ON A.RULE_RELA_ID = B.RULE_RELA_ID
                 LEFT JOIN LOG C ON B.LOG_ID = C.LOG_ID
        WHERE A.EQUIP_ID = #{equipId, jdbcType=INTEGER}
    </select>

</mapper>
