<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.loganalysis.mapper.SafetyEquipmentMapper">

    <!--查询安全设备的日志解析规则-->
    <select id="getEquipAnalysisRuleList" parameterType="com.gem.loganalysis.model.dto.query.AnalysisRuleQueryDTO"
            resultType="com.gem.loganalysis.model.vo.EquipAnalysisRuleVO">
        SELECT a.equip_id,
               a.equip_name,
               b.severity,
               b.facility,
               c.rule_type,
               method_name,
               item_split,
               kv_split
        FROM safety_equipment a
                 LEFT JOIN log_analysis_rule_rela b ON a.equip_id = b.equip_id
                 LEFT JOIN log_analysis_rule c ON b.analysis_rule_id = c.analysis_rule_id
        WHERE a.equip_id = #{equipId,jdbcType=INTEGER}
          AND b.severity = #{severity,jdbcType=VARCHAR}
          AND b.facility = #{facility,jdbcType=VARCHAR}
          AND c.rule_type = #{ruleType,jdbcType=VARCHAR}
    </select>

    <!--查询安全设备相关的历史封堵记录-->
    <select id="getEquipBlockRecords" parameterType="java.lang.Integer"
            resultType="com.gem.loganalysis.model.vo.EquipBlockRecordVO">
        SELECT a.equip_id,
               a.severity,
               a.facility,
               a.block_off_time,
               b.block_off_ip,
               b.block_start_time,
               b.block_end_time,
               b.block_state
        FROM block_off_rule a
                 LEFT JOIN block_off_record b ON a.block_off_rule_id = b.block_off_rule_id
        WHERE a.equip_id = #{equipId, jdbcType=INTEGER}
    </select>

    <!--查询安全设备归并后的日志记录-->
    <select id="getEquipLog" parameterType="java.lang.Integer" resultType="com.gem.loganalysis.model.entity.Log">
        SELECT c.*
        FROM log_analysis_rule_rela a
                 LEFT JOIN log_index b ON a.rule_rela_id = b.rule_rela_id
                 LEFT JOIN log c ON b.log_id = c.log_id
        WHERE a.equip_id = #{equipId, jdbcType=INTEGER}
    </select>

</mapper>
